@import '../../../styles/colors';

.table {
    margin-top: 18px;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    thead {
        tr {
            pointer-events: none;
            background: $primary-color;
        }
    }

    td {
        padding: 0 10px;
    }
}

@media(max-width: 575px) {
    .table-wrapper {
        max-width: 100%;
        overflow-x: scroll;
    }
}